/**
 * @Main scss for (Template/Project Name)
 * @project     - Project Name
 * @author      - 
 * @created_by  - kawsar bin siraj
 * @created_at  - 
 * @modified_by -
 */

/* fonts import */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
/* fonts import -END */

/* reset, root */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Manrope", sans-serif;
    background-color: var(--clr-pinkLight);
    font-weight: 400;
    --theme-gutter: 30px;
    --sidebar-width: 270px;
    --header-height: 98px;
    --main-dashboard-space: 45px;
    --main-dashboard-space-left: 68px;
    --theme-transition: all 0.4s linear;

    &.sidebar-collapsed {
        --sidebar-width: 50px;
    }
}

@media (max-width: 576px) {
    body {
        --theme-gutter: 20px;
    }
}

:root {
    --clr-pinkLight: #f9f6f8;
    --clr-baroda: #373536;
    --clr-gray: #9296a9;
    --clr-gray-light: #989fc8;
    --clr-gray: #918d91;
    --clr-red: #db105b;
    --clr-black: #171416;
    --clr-dark: #373536;
    --clr-yellow: #ffa114;
    --clr-orange: #ec601d;
    --clr-green: #3dd97b;
    --clr-pink: #fb74a6;
    --clr-light-red: #f97a6f;
    --clr-thistle: #d4cdd4;
    --clr-sky: #219fff;
}

/* reset, root - END */

/* helper , base classes */
.text-clr-gray {
    color: var(--clr-gray);
}

.text-clr-black {
    color: var(--clr-black);
}

.text-clr-yellow {
    color: var(--clr-yellow);
}

.text-clr-lightGray {
    color: var(--clr-lightGray);
}
.text-clr-sky {
    color: var(--clr-sky);
}

.text-clr-dark {
    color: var(--clr-dark);
}

.text-clr-thistle {
    color: var(--clr-thistle);
}

.bg-clr-red {
    background-color: var(--clr-red);
}

.bg-clr-yellow {
    background-color: var(--clr-yellow);
}

.bg-clr-lightGray {
    background-color: var(--clr-lightGray);
}
.bg-clr-orange {
    background-color: var(--clr-orange);
}

.bg-clr-dark {
    background-color: var(--clr-dark);
}
.bg-clr-pinkLight {
    background-color: var(--clr-pinkLight);
}

//asraful  2/22/22

.text-clr-dark {
    color: var(--clr-dark);
}

.text-clr-green {
    color: var(--clr-green);
}

.text-clr-orange {
    color: var(--clr-orange);
}

.text-clr-light-red {
    color: var(--clr-light-red);
}

.text-clr-red {
    color: var(--clr-red);
}

.text-clr-pink {
    color: var(--clr-pink);
}

.bg-clr-light-orange {
    background: rgba(255, 167, 125, 0.2);
}

.bg-color-light-green {
    background: rgba(60, 217, 123, 0.2);
}

.bg-color-light-red {
    background: rgba(249, 122, 111, 0.2);
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;

    @media (max-width: 991px) {
        font-size: 16px;
    }

    @media (max-width: 576px) {
        font-size: 14px;
    }
}

.fs-30 {
    font-size: 30px;

    @media (max-width: 991px) {
        font-size: 25px;
    }

    @media (max-width: 575px) {
        font-size: 18px;
    }
}

.fs-42 {
    font-size: 42px;

    @media (max-width: 991px) {
        font-size: 32px;
    }

    @media (max-width: 767px) {
        font-size: 27px;
    }

    @media (max-width: 576px) {
        font-size: 24px;
    }
}

.fs-66 {
    font-size: 66px;

    @media (max-width: 1400px) {
        font-size: 40px;
    }

    @media (max-width: 991px) {
        font-size: 40px;
    }

    @media (max-width: 767px) {
        font-size: 35px;
    }

    @media (max-width: 480px) {
        font-size: 30px;
    }
}

.fs-4 {
    @media (max-width: 1700px) {
        font-size: 20px !important;
    }

    @media (max-width: 991px) {
        font-size: 19px !important;
    }
}

.fs-5 {
    @media (max-width: 991px) {
        font-size: 16px !important;
    }
}

.fs-6 {
    @media (max-width: 1600px) {
        font-size: 14px !important;
    }
}

.is-radius-16 {
    border-radius: 16px;
}
.is-radius-12 {
    border-radius: 12px;
}
.is-radius-6 {
    border-radius: 6px;
}

.is-radius-20 {
    border-radius: 20px;
}

// .container-fluid {
//     padding-left: var(--theme-gutter);
//     padding-right: var(--theme-gutter);
// }

a {
    text-decoration: none;
    transition: all 0.3s linear;

    &:hover {
        color: var(--clr-black);
    }
}
.fw-medium {
    font-weight: 500;
}

.fw-semi-bold {
    font-weight: 600;
}

.is-drop-shadow {
    -webkit-box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.04);
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.04);
}

.form-control,
.form-select {
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
    font-size: 14px;

    &::placeholder {
        font-size: 14px;
    }
}

.form-control:focus,
.form-control:hover {
    box-shadow: none;
    outline: none;
    border-color: var(--bs-cyan);
}

.btn {
    &:focus {
        outline: none;
        box-shadow: none;
    }
}

.text-blue-dark {
    color: var(--clr-blue-dark);
}
.text-clr-baroda {
    color: var(--clr-baroda);
}

.text-dark {
    color: var(--clr-dark);
}

.bg-blue-dark {
    background-color: var(--clr-blue-dark);
}
.h-48 {
    min-height: 48px;
    line-height: 32px;
}
.h-50 {
    min-height: 50px;
}
.bg-pinkLight-h {
    background-color: rgba(244, 241, 246, 0.5);
}
.action {
    .btn {
        transition: var(--theme-transition);
        &:hover {
            background-color: var(--clr-yellow);
            color: #fff;
        }
    }
}
@mixin switch($res: "sm") {
    $index: 1rem;
    $mainVal: 1rem;

    @if $res== "md" {
        $index: 2rem;
        $mainVal: 1.5rem;
    } @else if $res== "lg" {
        $index: 3rem;
        $mainVal: 2rem;
    } @else if $res== "xl" {
        $index: 4rem;
        $mainVal: 2.5rem;
    }

    .form-check-input {
        height: $mainVal;
        width: calc(#{$index} + 0.75rem);
        border-radius: $mainVal * 2;
    }
}

.form-switch {
    &.form-switch-md {
        @include switch("md");
    }

    &.form-switch-lg {
        @include switch("lg");
    }
}

.form-check {
    &.form-check-md {
        > input {
            transform: scale(2);
        }
    }

    &.form-check-lg {
        > input {
            transform: scale(3);
        }
    }
}

.btnWrap {
    .viewBtn {
        padding: 2px 5px;
        .btn {
            &.active {
                background-color: #fff;
                width: 40px;
                height: 32px;
                border-radius: 20px;
                line-height: 19px;
                svg * {
                    stroke: var(--clr-red);
                    fill: var(--clr-red);
                }
            }
        }
    }
}
.bottom-radius-16{
    border-radius: 0 0 16px 16px;
}
// ::-webkit-scrollbar {
//     width: 4px;
//     background-color: var(--clr-thistle);
// }
/* helper , base classes  - END*/

/* css for header */
.stickyHeader {
    box-shadow: 0 5px 15px rgba(236, 96, 29, 0.1);
}
#header {
    background-color: #fff;
    transition: var(--theme-transition);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;

    // @media (max-width: 576px) {
    //     padding-left: calc(52px + var(--theme-gutter) * 1);
    // }

    .header-row {
        height: var(--header-height);
    }

    .header-left {
        .form-control {
            --max-width: 130px;
            max-width: var(--max-width);

            &.form-search {
                background-repeat: no-repeat;
                background-position: 2px center;
                background-size: 18px;
                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.7663 18.5889L14.7962 13.6188C16.1506 11.9623 16.8165 9.84866 16.6562 7.71497C16.4959 5.58128 15.5216 3.59083 13.9349 2.15534C12.3482 0.719841 10.2704 -0.0508742 8.13136 0.00260835C5.99233 0.0560909 3.95568 0.929679 2.44268 2.44268C0.929679 3.95568 0.0560909 5.99233 0.00260835 8.13136C-0.0508742 10.2704 0.719841 12.3482 2.15534 13.9349C3.59083 15.5216 5.58128 16.4959 7.71497 16.6562C9.84866 16.8165 11.9623 16.1506 13.6188 14.7962L18.5889 19.7663C18.7459 19.9179 18.9563 20.0019 19.1746 20C19.3929 19.9981 19.6017 19.9105 19.7561 19.7561C19.9105 19.6017 19.9981 19.3929 20 19.1746C20.0019 18.9563 19.9179 18.7459 19.7663 18.5889ZM8.35314 15.0143C7.03568 15.0143 5.74781 14.6237 4.65238 13.8917C3.55695 13.1598 2.70317 12.1194 2.199 10.9023C1.69483 9.6851 1.56292 8.34575 1.81994 7.05361C2.07697 5.76146 2.71138 4.57455 3.64297 3.64297C4.57455 2.71138 5.76146 2.07697 7.05361 1.81994C8.34575 1.56292 9.6851 1.69483 10.9023 2.199C12.1194 2.70317 13.1598 3.55695 13.8917 4.65238C14.6237 5.74781 15.0143 7.03568 15.0143 8.35314C15.0124 10.1192 14.3099 11.8123 13.0611 13.0611C11.8123 14.3099 10.1192 15.0124 8.35314 15.0143Z' fill='%239296A9'/%3E%3C/svg%3E%0A");
                padding-left: 28px;
                color: var(--clr-gray);
                font-size: 16px;
                font-weight: 400;

                &::-webkit-input-placeholder,
                &:-ms-input-placeholder,
                &::-ms-input-placeholder,
                &::placeholder {
                    color: var(--clr-gray);
                }
            }
        }
        .rightmenu {
            .form-select {
                width: 75px !important;
            }
            @media (max-width: 1200px) {
                padding: 0 0 20px 20px;
            }
        }
    }

    .header-right {
        .authInfo-dropdown {
            .btn-authInfo.dropdown-toggle::after {
                margin-left: 0;
                font-size: 12px;
                border: 0;
                content: "\f282";
                text-align: left;
                font-family: bootstrap-icons !important;
                font-weight: 700;
            }

            .btn-authInfo {
                .user-img {
                    position: relative;

                    > img {
                        --img-size: 34px;
                        width: var(--img-size);
                        height: var(--img-size);
                        border-radius: 100%;
                        -o-object-fit: cover;
                        object-fit: cover;
                        -o-object-position: top;
                        object-position: top;
                    }
                }

                .user-name {
                    font-size: 12px;
                    line-height: 24px;
                    font-family: "Inter", sans-serif;
                }
            }
        }
    }
}
.is-notify {
    width: 8px;
    height: 8px;
    border: 1px solid var(--clr-baroda);
    &.end-0 {
        right: 3px !important;
    }
    &.top-0 {
        top: 2px !important;
    }
}
.dropdown-menu {
    box-shadow: 0px 4px 70px rgba(0, 0, 0, 0.1);
    @media (min-width: 1200px) {
        width: 220px;
    }
}
.dropdownAfterLogin {
    .dropdown-menu {
        @media (min-width: 1200px) {
            width: 300px;
        }
    }
}
.dropdownCart,
.dropdownNotifications {
    .dropdown-menu {
        width: 418px;
        z-index: 120;
        // height: 250px;
        // overflow-y: auto;
    }
}
.cartItem,
.notificationsItem {
    transition: var(--theme-transition);
    .number {
        input {
            &:focus {
                box-shadow: none;
                outline: none;
            }
        }
    }
    &:hover {
        background-color: var(--clr-pinkLight);
    }
}
/* css for header -END */

/* css for sidebar */

#navigation-sidebar {
    width: var(--sidebar-width);
    position: fixed;
    height: 750px;
    left: 0;
    top: var(--header-height);
    z-index: 100;
    transition: var(--theme-transition);
    margin-left: var(--theme-gutter);
    margin-top: var(--theme-gutter);
    overflow-x: hidden;
    overflow-y: auto;
    &::-webkit-scrollbar {
        display: none;
    }

    .navigation-header {
        height: var(--header-height);
        border-bottom: 1px solid rgba(255, 255, 255, 0.15);
    }

    .navigation-widget {
        min-height: calc(100vh - var(--header-height));
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .nav .nav-item {
        .nav-link {
            --grid-first: 20px;
            --link-height: 45px;
            font-size: 14px;
            font-weight: 500;
            display: grid;
            grid-template-columns: var(--grid-first) 1fr;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            grid-column-gap: 16px;
            color: var(--clr-gray);
            position: relative;
            height: var(--link-height);
            z-index: 10;
            -webkit-transition: var(--theme-transition);
            transition: var(--theme-transition);
            padding: 10px 15px;
            z-index: 20;
            border-right: 3px solid transparent;

            &:hover,
            &.active,
            &.show {
                background: linear-gradient(90deg, rgba(255, 255, 255, 0.06) 0%, rgba(255, 255, 255, 0) 100%);
                svg * {
                    // fill: var(--clr-orange);
                    stroke: var(--clr-orange);
                }
                color: var(--clr-orange);
                background: linear-gradient(270deg, #fff3ee 1.2%, rgba(255, 243, 238, 0) 95.4%);
                border-color: var(--clr-orange);
            }
        }

        &:hover::before,
        &.active::before,
        &.show::before {
            visibility: visible;
            opacity: 1;
            width: var(--before-width);
        }
    }
}

/* css for sidebar -END */

/* css for dashboard */
main#dashboard {
    margin-top: var(--theme-gutter);
    margin-left: calc(var(--sidebar-width) + var(--main-dashboard-space-left) * 1.2);
    margin-right: var(--main-dashboard-space);
    -webkit-transition: var(--theme-transition);
    transition: var(--theme-transition);
    margin-top: 130px;

    @media (max-width: 991px) {
        // margin-top: 118px;
        margin-left: calc(60px + var(--theme-gutter) * 1);
        margin-right: 25px;
    }
}
// innerTab
.innerTab {
    .nav-pills {
        border-bottom: 3px solid #f4f1f6;
        .nav-link {
            font-size: 16px;
            font-weight: 600;
            color: var(--clr-gray);
            margin-bottom: -3px;
            &.active {
                background-color: transparent;
                color: var(--clr-orange);
                border-bottom: 3px solid var(--clr-orange);
                border-radius: 0 !important;

                svg * {
                    stroke: var(--clr-orange);
                }
            }
        }
    }
}
.singleFeiled {
    .form-control {
        padding-left: 20px;
        background-repeat: no-repeat;
        background-position: 20px center;

        &::placeholder {
            font-size: 14px;
            color: var(--clr-gray);
        }
    }
    .bg-icon {
        padding-left: 50px;
        background-image: url("data:image/svg+xml,%3Csvg width='17' height='17' viewBox='0 0 17 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.50016 8.49984C10.4562 8.49984 12.0418 6.91418 12.0418 4.95817C12.0418 3.00216 10.4562 1.4165 8.50016 1.4165C6.54415 1.4165 4.9585 3.00216 4.9585 4.95817C4.9585 6.91418 6.54415 8.49984 8.50016 8.49984Z' stroke='%23918D91' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M14.5847 15.5833C14.5847 12.8421 11.8576 10.625 8.50011 10.625C5.14261 10.625 2.41553 12.8421 2.41553 15.5833' stroke='%23918D91' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    }
}
.file-icon {
    margin-top: -10px !important;
}
.accountStatus {
    .form-check {
        .form-check-input {
            width: 22px;
            height: 22px;
        }
        .afterChecked {
            &.start-0 {
                left: -3px !important;
            }
            &.top-0 {
                top: 1px !important;
            }
        }
        .form-check-input {
            &:checked ~ {
                .afterChecked {
                    display: block !important;
                }
            }
        }
    }
}
// innerTab = END
/* css for dashboard -END */

/* css for access-panel  */
.access-panel {
    background-image: url(../img/panelshape.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    .panel-images {
        img {
            height: 100vh;
        }
    }
    .form-control {
        &::placeholder {
            color: #d4cdd4;
        }
    }
}
.btn-wrap {
    .btn {
        &:hover {
            background-color: var(--clr-light-red) !important;
        }
    }
}
/* css for access-panel -END */
